/* General Styles */
html, body {
  min-height: 100vh; /* This ensures that the body is at least as tall as the viewport */
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-image: url('AI-Q.png'); /* Full-screen background image */
  background-position: center; /* Center the background image */
  background-repeat: no-repeat; /* Prevent the background image from repeating */
  background-size: cover; /* Ensure the background covers the entire viewport */
}

/* Variables for consistent theming and easier maintenance */
:root {
  --light-gray: #f4f4f4;
  --white: #fff;
  --dark-gray: #333;
  --medium-gray: #ddd;
  --lighter-gray: #ccc;
  --transparent-gray: rgba(244, 244, 244, 0.5);
}

/* Top Navigation Bar */
.top-nav {
  background-color: var(--transparent-gray);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  position: fixed;
  width: 100%;
  top: 60px;
  z-index: 1000; /* Ensures navigation is above other sections */
}

/* Logo Styling */
.logo {
  font-weight: bold;
  font-size: 24px;
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 1000; /* High z-index to ensure the logo stays above other elements */
}

/* Styling for navigation and logo links */
.logo-link, .nav-link {
  text-decoration: none;
  color: var(--medium-gray);
  padding: 5px 10px;
  transition: background-color 0.3s;
  font-weight: bold;
}

.logo-link:hover, .nav-link:hover {
  color: var(--dark-gray);
}

/* Home Section Styling */
.home-container {
    max-width: 800px;
    margin: center; /* Center the container */
    padding: 40px;
    background: var(--transparent-gray); /* Semi-transparent background */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Subtle shadow */
    color: var(--white); /* Text color */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    position: relative;
}

#home h1 {
    position: absolute;
    top: 150px;
    font-size: 2.5rem;
    margin-bottom: 20px;
    transform: translateY(-50%);
    color: var(--medium-gray);
}

#home h3 {
    font-size: 1.5rem; /* Larger font size for the heading */
    margin-bottom: 20px;
}

#home p {
    font-size: 1.1rem; /* Slightly larger font size for the text */
    line-height: 1.6; /* Improved line height for readability */
    text-align: justify;
}

.home-container:hover {
    transform: translateY(-5px); /* Slight lift on hover */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
}


/* About Section Styling */
.about-container {
    max-width: 800px;
    margin: center; /* Center the container */
    padding: 40px;
    background: var(--transparent-gray); /* Semi-transparent background */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Subtle shadow */
    color: var(--white); /* Text color */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    position: relative;
}

#about h1 {
    position: absolute;
    top: 150px;
    font-size: 2.5rem;
    margin-bottom: 20px;
    transform: translateY(-50%);
    color: var(--medium-gray);
}

#about h3 {
    font-size: 1.5rem; /* Larger font size for the heading */
    margin-bottom: 20px;
}

#about p {
    font-size: 1.1rem; /* Slightly larger font size for the text */
    line-height: 1.6; /* Improved line height for readability */
    text-align: justify;
}

.about-container:hover {
    transform: translateY(-5px); /* Slight lift on hover */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
}


/* Features Section Styling */
.features-container {
    max-width: 800px;
    margin: center; /* Center the container */
    padding: 40px;
    background: var(--transparent-gray); /* Semi-transparent background */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Subtle shadow */
    color: var(--white); /* Text color */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    position: relative;
}

#features h1 {
    position: absolute;
    top: 150px;
    font-size: 2.5rem;
    margin-bottom: 20px;
    transform: translateY(-50%);
    color: var(--medium-gray);
}

#features h3 {
    font-size: 1.5rem; /* Larger font size for the heading */
    margin-bottom: 20px;
}

#features p {
    font-size: 1.1rem; /* Slightly larger font size for the text */
    line-height: 1.6; /* Improved line height for readability */
    text-align: justify;
}

.features-container:hover {
    transform: translateY(-5px); /* Slight lift on hover */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
}

/* Common styling for all content sections */
.section {
  min-height: 800px;
  padding: 20px;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  z-index: 1; /* Sets a base z-index for sections */
}

/* Overlay for adding a transparency effect to sections */
.section::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: -1; /* Places the overlay behind the section content */
}

/* Form Styles in Contact Section */
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  position: relative;
  z-index: 2; /* Ensures the form is above the overlay */
}

form label, form input, form textarea, form button {
  width: 100%;
  margin: 5px 0;
}

form input, form textarea {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid var(--medium-gray);
}

form button {
  padding: 10px 20px;
  background-color: var(--dark-gray);
  color: var(--white);
  border: none;
  cursor: pointer;
}

form button:hover {
  background-color: var(--medium-gray);
}

/* Footer styling to ensure it's always at the bottom */
footer {
  width: 100%;
  text-align: center;
  padding: 10px;
  background: var(--medium-gray);
  color: var(--dark-gray);
  clear: both; /* Ensures footer is below all content */
}

/* Media Queries for Responsive Design */
@media (max-width: 600px) {
  .nav-link, .section, .section h1, .section h2, .section p {
      padding: 5px;
      font-size: 14px;
  }

  .logo {
      font-size: 20px;
  }

  .home-container {
        padding: 20px;
    }

    #home h1 {
        font-size: 2rem;
    }

    #home p {
        font-size: 1rem;
    }

  body {
      background-attachment: scroll; /* Makes the background scroll with the page */
      background-size: cover; /* Adjusts the background to cover the screen */
  }
}

/* Larger screens */
@media (min-width: 601px) {
  body {
      background-attachment: fixed; /* Fixed background for larger screens */
  }
}
